{% extends 'base.html' %}

{% block title %}修改密码{% endblock %}

{% block content %}
<div class="change-password-container">
    <h2>修改密码</h2>
    <form method="post">
        <div class="inputText">
            <span class="iconfont icon-mine"></span>
            <input class="username" type="text" placeholder="用户名" id="username" name="username" required />
        </div>
        <div class="inputText">
            <span class="iconfont icon-lock"></span>
            <input type="password" placeholder="旧密码" id="old_password" name="old_password" required />
        </div>
        <div class="inputText">
            <span class="iconfont icon-lock"></span>
            <input type="password" placeholder="新密码" id="new_password" name="new_password" required />
        </div>
        <input class="inputButton" type="submit" value="修改密码" />
    </form>
    <div>{{ msg }}</div>
    <button class="back-button" onclick="window.location.href='{{ url_for('login') }}'">返回</button>
</div>
{% endblock %}
