{% extends 'student_base.html' %}

{% block student_content %}
<h2>个人信息</h2>
<table class="table">
    <tr>
        <th>学号</th>
        <td>{{ student_info.Sno }}</td>
    </tr>
    <tr>
        <th>姓名</th>
        <td>{{ student_info.Sname }}</td>
    </tr>
    <tr>
        <th>性别</th>
        <td>{{ student_info.Ssex }}</td>
    </tr>
    <tr>
        <th>出生日期</th>
        <td>{{ student_info.Sbirthdate }}</td>
    </tr>
    <tr>
        <th>专业</th>
        <td>{{ student_info.Smajor }}</td>
    </tr>
</table>
{% endblock %}
