{% extends 'student_base.html' %}

{% block student_content %}
<h2>选课信息</h2>
<table class="table">
    <thead>
        <tr>
            <th>课程号</th>
            <th>课程名称</th>
            <th>学分</th>
            <th>学期</th>
            <th>教学班</th>
        </tr>
    </thead>
    <tbody>
        {% for course in enrollments %}
        <tr>
            <td>{{ course.Cno }}</td>
            <td>{{ course.Cname }}</td>
            <td>{{ course.Ccredit }}</td>
            <td>{{ course.Semester }}</td>
            <td>{{ course.Teachingclass }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
